:root {
    --main-color: #232222;
    --sub-color: #343434;
    --heading-color: #a32716;
    --text-color: coral;
}

body {
    background-color: var(--main-color);
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.movies {
    background-color: #ffffff;
    width: 500px;
    height: 80%;
    margin: 2em auto;
    text-align: center;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.movies .title {
    margin: 0px;
}

.movies .cover {
    margin-top: 0vh;
    height: 90%;
    width: 90%;
    border-radius: 1em;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background: linear-gradient(to right, #3a7f0e, #77b475);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar.hide {
    visibility: hidden;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.topnav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to top right, var(--main-color) 35%, var(--heading-color));
}

.topnav .logo{
    float: left;
}

.topnav .logo img {
    width: 170px;
}

.topnav .logout{
    float: right;
    padding: 0;
    margin: 0;
}

.topnav .logout input {
    background: none;
    border: none;
    padding: 20px;
    font-size: 2vh;
    color: #f2f2f2;
    cursor: pointer;
}

.topnav .add {
    float: right;
    background: none;
    border: none;
    padding: 20px;
    font-size: 2vh;
    color: #f2f2f2;
    cursor: pointer;
}

.topnav .logout:hover {
    background: none;
    border: none;
    font-size: 2vh;
    cursor: pointer;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .logout:hover {
    background-color: #d5663f;
    color: black;
}

.topnav .add:hover {
    background-color: #d5663f;
}

.topnav .logout.active {
    background-color: #d5663f;
    color: white;
}

.topnav .add:active {
    background-color: #d5663f;
    color: white;
}

.friends {
    background-color: #ffffff;
    width: 500px;
    padding-top: 4px;
    height: 50%;
    margin: 2em auto;
    text-align: center;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.friends button {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, var(--heading-color), var(--text-color));
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.friends select {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

#board {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: none;
}

.card {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 40%;
    left: 50%;
    border-radius: 1%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    background-color: #2f2d2d;
    transform: translateX(-50%) translateY(-50%) scale(0.95);
}