:root {
    --main-color: #333;
    --heading-color: lightcoral;
    --text-color: coral;
}

body {
    font-family: Arial, serif;
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

.movies {
    margin: 0 auto;
    margin-top: 3vh;
    text-align: center;
    width: 12em;
    height: 85vh;
    background-color: var(--main-color);
    color: var(--heading-color);
    border-radius: 0.5rem;
}

.movies .title {
    margin: 0px;
}

.movies .cover {
    margin-top: 0vh;
    height: 90%;
    width: 90%;
}